.App {
  text-align: center;
  color: white;
}
body{
  background-color: #4d80ed;
  font-family: 'Ubuntu', serif; font-size: 20px; 
}
#construction{
  border-radius: 10px;
  
}
h1{
  padding-top: 10px;
}
.shortH1{
  margin-bottom: 0px;
  margin-top: 0px;
}
#mailto{
  border-radius: 50%;
}
a{
  margin-left: 5px;
  color: white;
}
#giphy{
  border-radius: 50%;
}
a:hover{
  /* color: rgb(174, 18, 252); */

}
.icon:hover{
  /* background-color: #a1deff; */
  background-color: #6193f0;

  border-radius: 50%;
}
p{
  margin-left: 20px;
  margin-right: 20px;
}
h3{
  padding-bottom: 0;
  margin-bottom: 0;
}
h6{
  color: white;
  margin-top: 4px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h6:hover{
  color: white;
}
#egg{
  color: #424750;
}
#egg:hover{
  color: white;
}
#headerDiv{
  background-color: rgb(21, 20, 23);
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 90%;
  height: 650px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-bottom: 10px;

}

#BlogDiv{
  background-color: rgb(21, 20, 23);
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

#lastaboutme{
  margin-bottom: 5px;
}
#aboutmeul{
  margin-top: 0;
}
#btta{
  padding-left: 5px;
  font-weight: bolder;
  color: white;
}
#btta:hover{
color: rgb(174, 18, 252);
}



.aboutMe{
  text-align: start ;
}

#PortfolioDiv{
  background-color: rgb(21, 20, 23);
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-bottom: 1px;
  
}
#PortfolioItem{
  display: inline-block;
  padding: 20px;
  padding-bottom: 5px;
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 235px;
  height: 290px;
  margin: 34px;
  margin-bottom: 45px;
  margin-top: 1px;
}
#PortfolioItem:hover{
  box-shadow: 0 0 2pt 1pt rgb(174, 18, 252);;
  background-color: rgb(21, 20, 23);
}
#ContactDiv{
  background-color: rgb(21, 20, 23);

  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 80px;
}

#contact{
  box-shadow: 0 0 2pt 1pt black;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#contact:hover{
  color: white;
  background-color: purple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#AboutMeDiv{
  background-color: #424750;
  position: absolute;
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 52%;
  height: 430px;
  margin-left: 5%;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-top: 32px;
}
#imageAndSocialDiv{
  display: inline-block;
  margin-left: 65%;
  padding-top: 66px;
  padding-bottom: 20px;

}

#johnImg{
  box-shadow: 0 0 2pt 1pt white;
}

#SocialDiv{
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 0; */
  /* position: fixed; */
  padding-top: 5px;
}

#johnImg{
  border-radius: 50%;
}


.area{
  /* background: #ce3c3c;   */
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  height:150%;
  margin-top: -100px;
  padding-top: 0px;
  position: fixed;
  z-index: -1;
  
 
}

.circles{
  position: absolute;
  margin-top: 0px;
  padding-top: 0px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 40s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 10%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 30%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 60%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 20s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-2000px) rotate(720deg);
      opacity: 0.3;
      border-radius: 40%;
  }

}