.App {
  text-align: center;
  color: white;
}
body{
  background-color: #424750;
  font-family: 'Ubuntu', serif; font-size: 20px; 

}

.shortH1{
  margin-bottom: 0px;
}
a{
  color: white;
}
#giphy{
  border-radius: 50%;
}
a:hover{
  /* color: purple; */

}
p{
  margin-left: 20px;
  margin-right: 20px;
}
h3{
  padding-bottom: 0;
  margin-bottom: 0;
}
h6{
  margin-top: 4px;
}
#headerDiv{
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 95%;
  height: 650px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
}

#BlogDiv{
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
}

#lastaboutme{
  margin-bottom: 5px;
}
#aboutmeul{
  margin-top: 0;
}
#btta{
  padding-left: 5px;
  font-weight: bolder;
  color: white;
}
#btta:hover{
color: purple;
}



.aboutMe{
  text-align: start ;
}

#PortfolioDiv{
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1px;
}
#PortfolioItem{

  display: inline-block;
  padding: 20px;
  padding-bottom: 5px;
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 235px;
  height: 290px;
  margin: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
}
#PortfolioItem:hover{
  /* box-shadow: 0 0 2pt 1pt purple; */
  background-color: rgb(21, 20, 23);
}
#ContactDiv{
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

#contact{
  box-shadow: 0 0 2pt 1pt black;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#contact:hover{
  color: white;
  background-color: purple;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#AboutMeDiv{
  background-color: rgb(21, 20, 23);
  position: absolute;
  box-shadow: 0 0 2pt 1pt white;
  border-radius: 10px;
  width: 52%;
  height: 430px;
  margin-left: 7%;
  padding-bottom: 1px;
  margin-top: 10px;
}
#imageAndSocialDiv{
  display: inline-block;
  margin-left: 60%;
  padding-top: 50px;
  padding-bottom: 20px;

}

#johnImg{
  box-shadow: 0 0 2pt 1pt white;
}

#SocialDiv{
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 0; */
  /* position: fixed; */
  padding-top: 5px;
}

#johnImg{
  border-radius: 50%;
}